body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: url("./bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
img{
  border-radius: 7.5px;
}
.square-wrapper{
    text-align: center;
}
.square {
    background-color: transparent;
  }
  @keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
} 

.square-animation {
    animation: wipe-enter 3s 1;
}

.fade-in {
	animation: fadeIn 5s;
  opacity: 1;
  animation-fill-mode: forwards;
}
.fade-in2 {
    animation: fadeIn 5s none 3s;
    
  	opacity: 0;
}
.fade-in3 {
    animation: fadeIn 5s none 6s;
    animation-fill-mode: forwards;
  	opacity: 0;
}
.fade-in4 {
    animation: fadeIn 5s none 9s;
    animation-fill-mode: forwards;
  	opacity: 0;
}
@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform:  rotate(-4deg); }
    20% { transform:  rotate(4deg); }
    30% { transform:  rotate(0deg); }
    40% { transform:  rotate(4deg); }
    50% { transform:  rotate(-4deg); }
    60% { transform:  rotate(0deg); }
    70% { transform:  rotate(-4deg); }
    80% { transform:  rotate(4deg); }
    90% { transform:  rotate(0deg); }
    100% { transform:  rotate(-4deg); }
  }
@keyframes growshrink {
    0%{font-size: 10px;}
    50%{font-size: 15px;}
    100%{font-size: 10px;}
}  
.heading{
    animation: shake 5s;
    animation-iteration-count: infinite;
    margin-top: 100px;
}  
#myBtn{
    cursor: pointer;
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.postcard{
    width: 100%;
    height: 100%;

}
.inside{
    animation: growshrink 5s;
    animation-iteration-count: infinite;
    margin-bottom: 300px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }
  .flexy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content2 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    color: black;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }